<!--header-->
<nav class="navbar navbar-light" style="background-color:#ffc107e1">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" >
        <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnlrZmVnM3IxYWVkbDBqb3lyOXVxZGx3NGhveDhjNHl4enVpeGRlaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/V57jUkC3eZFsym7iwE/giphy.gif" alt="" width="40" height="30" class="d-inline-block align-text-top">
        UNION BANK 
      </a>
    </div>
  </nav>






<div class="container">
    <div class="row text-center">
      <img src="https://consultation.co.jp/img/404-page-animation-example.gif" width="50px" height="370px">
    <h5>Website content has been removed...</h5>
    <p>Page Not Found</p>
    <div>
        <button routerLink="" class="btn btn-primary">Back to site</button>
    </div>
    

    </div>
</div>
<!--footer-->
<footer class="bg-warning text-center text-lg-start mt-5">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:#ffc107e1;">
      © 2024 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">unionbank.com</a>
    </div>
    <!-- Copyright -->
  </footer>